<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>inTuition Nutrition</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/9cc7fcd02f.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/">
          <img class="navbar-header-logo" src="/assets/logo-white-bg.png">
        </a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home" name="home"><a href="/">HOME</a></li>
          <li id="service" name="service"><a href="/service">SERVICE</a></li>
          <li id="blog" name="blog"><a href="/blog">BLOG</a></li>
          <li id="about" name="about"><a href="/about">ABOUT</a></li>
          <li id="contact" name="contact"><a href="/contact">CONTACT</a></li>
          <li>
            <a href="/contact">
              <i class="fa-thin fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/intuition_nutrition__/">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-brands fa-pinterest"></i>
            </a>
          </li>
          <li>
            <a href="/search">
              <i class="fa-thin fa-magnifying-glass"></i>
            </a>
          </li>
        </ul>
      
    </div>
  </nav>
  <script src="https://kit.fontawesome.com/9cc7fcd02f.js" crossorigin="anonymous"></script>
  
  <body>
    <div class="container">
     