<%- include("partials/header") -%>
<div class="hero-section" id="hero-section">
    <div class="col-2">
        <div id="profile-image layer content-wrapper">
            <div class="bottom-layer">
                <img class="profile-image" src="/assets/jo-smile-confidence.jpeg">
            </div>
            <div class="top-layer theme-background-color std-button">
                <a href="/service">
                    <h5 class="button-title">
                        Nutrition Should Be Intuitive
                    </h5>
                    <p class="button-subtitle">
                        Check out for more
                    </p>
                </a>

            </div>
        </div>
        <div class="food-pic watermelon" id="food-pic">
            <img class="food-pic" src="/assets/water-1.jpeg">
        </div>
    </div>
</div>

<%- include("partials/footer") -%>